<h2>Done:</h2>

<%= for issue <- @issues do %>
  <p>
    <a href="https://youtrack.toptal.net/youtrack/issue/<%= issue[:identifier] %>" target="_blank"><%= issue[:identifier] %></a>
    <%= issue[:title] %>
  </p>
<% end %>

<pre>
  TODO:
  To be done next week
  Total points
</pre>
