<h2>Done:</h2>
<p class="range"><%= @start_date %> - <%= @end_date %></p>
<p><strong>Total points: <%= total_points(@issues) %></strong></p>

<table>
  <tr>
    <th>Ticket</th>
    <th>Title</th>
  </tr>
  <%= for issue <- @issues do %>
    <tr>
      <td><a href="https://youtrack.toptal.net/youtrack/issue/<%= issue[:identifier] %>" target="_blank"><%= issue[:identifier] %></a></td>
      <td><%= issue[:title] %></td>
    </tr>
  <% end %>
</table>
